<h1>Registrazione</h1>
<form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
    <div class="mb-2">
      <label for="username" class="form-label">Username</label>
      <input
      type="text" name="username" ngModel required
      />
    </div>
    <div class="mb-2">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" ngModel required />
      </div>
    <div class="mb-2">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" ngModel required />
    </div>
    <div class="mb-2">
      <label for="confirm" class="form-label">Confirm Password</label>
      <input type="password" name="confirm" ngModel required />
    </div>

    <p *ngIf="!rc">{{msg}}</p>
    <div>
        <button
        color="primary" type="submit" [disabled]="!signupForm.valid"
        >
          Registra
        </button>
    </div>
  </form>

