.custom-details {
    border: 2px solid #ffc107;
    background: none;
    color: #ffc107;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    color: #000;
    overflow: hidden;
}

.custom-details:hover {
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.custom-details:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffc107;
    z-index: -1;
    border-radius: 50% 50% 0% 0%;
    height: 0%;
    transition: all 0.5s;
}

.custom-details:hover:before {
    height: 190%;
}

.custom-details:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.add {
    margin-top: 3px;
    width: 100%;
    border: 2px solid #66d9e8;
    background: none;
    color: #66d9e8;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    color: #000;
    overflow: hidden;
}

.add:hover {
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.add:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #66d9e8;
    z-index: -1;
    border-radius: 50% 50% 0% 0%;
    height: 0%;
    transition: all 0.5s;
}

.add:hover:before {
    height: 190%;
}

.add:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.add {
    border: 2px solid #66d9e8;
    background: none;
    color: #66d9e8;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    color: #000;
    overflow: hidden;
}

.add:hover {
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.add:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #66d9e8;
    z-index: -1;
    border-radius: 50% 50% 0% 0%;
    height: 0%;
    transition: all 0.5s;
}

.add:hover:before {
    height: 190%;
}

.add:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

//submit details
.submit-details {
    border: 2px solid #198754;
    background: none;
    color: #198754;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    color: #000;
    overflow: hidden;
}

.submit-details:hover {
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.submit-details:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #198754;
    z-index: -1;
    border-radius: 50% 50% 0% 0%;
    height: 0%;
    transition: all 0.5s;
}

.submit-details:hover:before {
    height: 190%;
}

.submit-details:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

//cancel-details
.cancel-details {
    border: 2px solid #dc3545;
    background: none;
    color: #dc3545;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    color: #000;
    overflow: hidden;
}

.cancel-details:hover {
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.cancel-details:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #dc3545;
    z-index: -1;
    border-radius: 50% 50% 0% 0%;
    height: 0%;
    transition: all 0.5s;
}

.cancel-details:hover:before {
    height: 190%;
}

.cancel-details:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}