<!-- Card -->
<div class="col">
    <div class="card border-light h-100 shadow-sm" >
        <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg> -->
        <img [src]="'/assets/'+correctImageName(game.name)+'/'+ correctImageName(game.name) +1+ mainSuffixImg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{game.name}}</h5>
          <p>Price: {{game.price | currency: 'EUR'}}</p>
          
          <a class="btn btn-inspect" data-bs-toggle="modal" [attr.data-bs-target]="'#modal' + game.id">More</a> <!-- PULSANTE CHE APRE IL MODAL-->
          <div style="display: inline-block;"> <!-- BLOCCO PULSANTE ADD TO CART-->
            <div *ngIf="game.stockQuantity <= 0; else elseBlock">
              <a class="btn btn-primary disabled" role="button" aria-disabled="true">Out of stock</a>
            </div>
            <ng-template #elseBlock>
                <a class="btn btn-primary" (click)="addToCart(game.id, 1)">add cart</a>
            </ng-template>
          </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal modal-xl modal-fullscreen-lg-down" [id]="'modal' + game.id" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <!-- Da capire bene come funziona il responsive sul modal - quando farlo andare full page -->
  <div class="modal-dialog">
    <div class="modal-content">
<!-- Modal Header -->
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{game.name}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
<!-- Modal Body -->       
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-5"> <!-- COLONNA CON LE IMMAGINI / CAROSELLO DI IMMAGINI-->
              <div id="gameCarousel{{game.id}}" class="carousel slide">
                
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img [src]="'/assets/'+correctImageName(game.name)+'/'+ correctImageName(game.name) +1+ mainSuffixImg" class="d-block w-100" alt="...">
                  </div> 
                  <div class="carousel-item"> 
                    <img [src]="'/assets/'+correctImageName(game.name)+'/'+ correctImageName(game.name) +2+ mainSuffixImg" class="d-block w-100" alt="...">
                  </div> 
                  <div class="carousel-item"> 
                    <img [src]="'/assets/'+correctImageName(game.name)+'/'+ correctImageName(game.name) +3+ mainSuffixImg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item"> 
                    <img [src]="'/assets/'+correctImageName(game.name)+'/'+ correctImageName(game.name) +4+ mainSuffixImg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#gameCarousel' + game.id" data-bs-slide="prev"> <!-- Attribute bindig per il passaggio dell'id [attr. ..] indica ad angular che si usa il valore di un attributo html-->
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#gameCarousel' + game.id" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <div class="col"> <!-- COLONNA CON LE INFORMAZIONI DEL GIOCO - NO PREZZO CHE STA SUL FOOTER (per ora) -->
              <div class="row">
                <p>{{game.description}}</p>
              </div>
              <div class="row">
                <p>Publication year: {{game.date | date:'yyyy'}}</p> <!-- SISTEMARE LE CHIAMATE DA POSTMAN!!! -->
              </div>
              <div class="row">
                <p>Min - Max player number: {{game.minPlayerNumber}} - {{game.maxPlayerNumber}}</p>
              </div>
              <div class="row">
                <p>Game time: {{game.minGameTime}} - {{game.maxGameTime}}</p>
              </div>
              <div class="row">
                <p>Min age: {{game.minAge}}</p>
              </div>
              <div class="row">
                <p>Editor: {{game.editorDTO.name}} - <a href="https://{{game.editorDTO.website}}" target="_blank" rel="noopener noreferrer">{{game.editorDTO.website}}</a></p>
              </div>
              <div class="row">
                <p>{{ game.listAuthorsDTO.length === 1 ? 'Author: ' : 'Authors: ' }} 
                  <ng-container *ngFor="let author of game.listAuthorsDTO; let last = last">{{author.name}}{{ !last ? ', ' : '' }}</ng-container>
                </p>
              </div>
              <div class="row">
                <p>{{ game.listCategoryDTO.length === 1 ? 'Category: ' : 'Categories: ' }} 
                  <ng-container *ngFor="let category of game.listCategoryDTO; let last = last">{{category.name}}{{ !last ? ', ' : '' }}</ng-container>
                </p>
              </div>
              <!-- DATA DI USCITA, NUMERO MINIMO E MASSIMO DI GIOCATORI, TEMPO MINIMO E MASSIMO, ETà - con icone se si riesce -->
              <!-- EDITORE - AUTORI - CATEGORIE (CLICCABILI???) -->
            </div>
            
          </div>
        </div>
      </div>
<!-- Modal Footer -->    
        <div class="modal-footer">
          <!-- Vedere come impaginare stock quantity, prezzo (se qui o nel body), e i pulsanti-->
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <div class="ms-auto">
            <span class="me-3">Price: {{game.price | currency: 'EUR'}}</span>
            <div style="display: inline-block;"> <!-- BLOCCO PULSANTE ADD TO CART-->
              <div *ngIf="game.stockQuantity <= 0; else elseBlock">
                <a class="btn btn-primary disabled" role="button" aria-disabled="true">Out of stock</a>
              </div>
              <ng-template #elseBlock>
                <a class="btn btn-primary" (click)="addToCart(game.id, 1)">add cart</a>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
