.jumbotron {
  background-image: url('/assets/banners/BannerShop2.jpg');
  background-size: cover; /* Copre l'intera area del jumbotron */
  background-position: center; /* Centra l'immagine*/
  height: 275px;
  color: white; /* Rende il testo bianco per contrasto */
  padding-top: 5rem; /* Regola il padding superiore per centrare il testo verticalmente */
  margin-bottom: 0; /* Rimuove il margine inferiore predefinito del jumbotron */
  position: relative; /* Necessario per l'effetto parallax (vediamo se farlo) */
  overflow: hidden; /* Per nascondere parti dell'immagine se si estende oltre il contenitore */
  
  h1 {
    font-size: 3rem; /* Regola la dimensione del titolo */
  }

  h5 {
    font-size: 1.5rem; /* Regola la dimensione del sottotitolo */
  }
}


.add {
  border: 2px solid #66d9e8;
  background: none;
  color: #66d9e8;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  color: #000;
  overflow: hidden;
}

.add:hover {
  color: white;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.add:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #66d9e8;
  z-index: -1;
  border-radius: 50% 50% 0% 0%;
  height: 0%;
  transition: all 0.5s;
}

.add:hover:before {
  height: 190%;
}

.add:active{
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
