<div class="container-fluid">
    <div class="row justify-content-center my-2">
        <div class="col col-lg-9 col-xxl-8">

            <!-- BLOCCO BANNER E TITOLI-->
            <div class="jumbotron rounded text-center mb-3">
                <h1>Shop</h1>
                <h5>
                    Explore our catalog of games and discover new adventures!
                </h5>
            </div>

            <!-- BLOCCO FILTRI Type e categories-->
            <div class="container-fluid my-3">
                <div class="row justify-content-between">
                    <div class="col"> <!-- colonna filtro type -->
                        <!--filtro sul titolo-->
                        <input type="text" class="form-control text-center" [(ngModel)]="searchTerm" (input)="onSearch($event)" placeholder="Search Title">
                    </div>
                    <div class="col-auto"> <!-- colonna filtro categorie -->
                        <!--filtro sulle categorie-->
                        <div class="dropdown">
                            <button class="add btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{!selectedCategory ? 'Categories' : selectedCategory.name}}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item"  (click)="selectCategory(null); searchByTypingGames(searchTerm)">All</a></li>
                                <li *ngFor="let category of listCategories; let i = index">
                                    <a class="dropdown-item"  (click)="selectCategory(category); searchByTypingGames(searchTerm)">{{ category.name }}</a>
                                </li>
                            </ul>
                        </div>
                        <!-- filtro in stock - out of stock ? - se c'è tempo-->
                    </div>
                </div>
            </div>

            <!-- BLOCCO LIST DI CARD-->
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xxl-4 gx-1 gy-4" >
                <ng-template *ngIf="isAutentificated; then bloccoTrue else bloccoFalse"></ng-template>
                <ng-template #bloccoTrue>
                    <div *ngFor="let game of listGames">
                        <app-card *ngIf="cId !== undefined" [game]="game" [cId]="cId"></app-card>
                    </div>
                </ng-template>
                <ng-template #bloccoFalse>
                    <div *ngFor="let game of listGames">
                        <app-card [game]="game" [cId]="cId"></app-card>
                    </div>
                </ng-template>
            </div>
                
        </div>
    </div>
</div>