<div class="bg-dark text-light py-5">
  <!--  Riga 1 colonna 1 informazioni di contatto
              colonna 2 form di contatto rapido
        Riga 2 loghi dei metodi di pagamento e sotto copyright e link alle pagine di privacy e termini e condizioni
        ???????????????????
  -->
    <!-- <div class="row">
    </div> -->
  <div class="container">
    <!-- Riga Loghi Metodi di Pagamento -->
    <div class="d-flex justify-content-center mb-4">
      <a href="/paymentsRules" style="display: inline-block; margin: 0 5px;">
        <img src="assets/payment/apple-pay.png" alt="Apple Pay" style="height: 30px; border-radius: 5px;">
      </a>
      <a href="/paymentsRules" style="display: inline-block; margin: 0 5px;">
        <img src="assets/payment/mastercard.png" alt="Mastercard" style="height: 30px; border-radius: 5px;">
      </a>
      <a href="/paymentsRules" style="display: inline-block; margin: 0 5px;">
        <img src="assets/payment/paypal.png" alt="PayPal" style="height: 30px; border-radius: 5px;">
      </a>
       <a href="/paymentsRules" style="display: inline-block; margin: 0 5px;">
        <img src="assets/payment/google-pay.png" alt="Google Pay" style="height: 30px; border-radius: 5px;">
      </a>
      <a href="/paymentsRules" style="display: inline-block; margin: 0 5px;">
          <img src="assets/payment/visa.png" alt="visa" style="height: 30px; border-radius: 5px;">
      </a>
    </div>

    <!-- Riga Informazioni Azienda -->
    <div class="d-flex align-items-center justify-content-center" style="font-size: 0.8rem;">
      Betagames S.r.l. - Via dei Tigli 13 - Topolinia - P.IVA: 1234567890
    </div>

    <!-- Riga Copyright e Link -->
    <div class="d-flex align-items-center justify-content-center" style="font-size: 0.7rem;">
      <span>© 2025 Betagames S.r.l. Tutti i diritti riservati -
          <a href="/policy" class="text-light">Privacy Policy</a> -
          <a href="/termini" class="text-light"> Termini e Condizioni</a>
      </span>
    </div>
  </div>
</div>