<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid fs-5">
    <a class="navbar-brand z-1" href="#">Betagames</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Roba che in piccolo deve collassare nel menù a burger-->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link z-1 item-nav" aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link z-1 item-nav" aria-current="page" routerLink="shop">Shop</a>
        </li>
      </ul>
      <app-user-dropdown (logoutEvent)="logout()"></app-user-dropdown>
    </div>

    <div class="position-relative">
      <!-- Pulsante carrello - non collassa / il badge si nuoverà rispetto a questo elemento (position-relative)-->
      <a
        (click)="toggleCart()"
        class="btn"
        data-bs-toggle="offcanvas"
        href="#offcanvasRight"
        role="button"
        aria-controls="offcanvasRightLabel"
        ><i class="bi bi-cart3"></i
      ></a>
      <!-- button carrello / icona -->
      <span
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger p-1"
        >{{ cartItemCount }}</span
      >
      <!-- Badge-->
    </div>
  </div>
</nav>
<app-sidecart
  [isOpen]="isCartOpen"
  [cartId]="cId"
  (cartChanged)="onRecieveNumber($event)"
></app-sidecart>

