<div class="container">
  <div *ngIf="listUser && hasActiveUsers()">
    <ng-container *ngFor="let user of listUser">
      <div *ngIf="user.active" class="user-info mb-4">
        <div class="user-header">
          <h4>Username: {{ user.username }}</h4>
        </div>
        <div class="user-details-shipping">
          <table class="table">
            <tbody>
              <ng-container *ngFor="let detail of user.detailsShipping">
                <tr *ngIf="detail.active">
                  <td>
                    <p><strong>Email:</strong> {{ user.email }}</p>           
                    <strong>Name:</strong> {{ detail.name }} <br>
                    <strong>Lastname:</strong> {{ detail.lastname }} <br>
                    <strong>Country:</strong> {{ detail.country }} <br>
                    <strong>State Region:</strong> {{ detail.stateRegion }}<br>
                    <strong>Cap:</strong> {{ detail.cap }} <br>
                    <strong>City:</strong> {{ detail.city }} <br>
                    <strong>Address:</strong> {{ detail.address }} <br>
                    <button type="button" class="btn btn-danger" (click)="onDelete(detail)">Delete</button>
                  </td>
                </tr>
              </ng-container>

              <!-- Mostra il messaggio solo se non ci sono dettagli attivi -->
              <tr *ngIf="!hasActiveDetails(user.detailsShipping)">
                <td class="text-muted">No active Details Shipping.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
  </div>
  <hr>
  <p *ngIf="listUser && !hasActiveUsers()" class="text-center text-muted fs-4">
    There are no active users.
  </p>
</div>
