// Stile del container principale
.container {
    max-width: 900px;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(79, 225, 241, 0.627);
  }
  
  .user-info {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .user-header {
    background: #66d9e8;
    color: white;
    padding: 10px;
    border-radius: 6px 6px 0 0;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .user-details-shipping {
    padding: 15px;
    background: #fff;
    border-radius: 0 0 6px 6px;
    border: 1px solid #dee2e6;
  }
  
  .table {
    background: #ffffff;
    border-radius: 6px;
    overflow: hidden;
  
    tbody tr {
      border-bottom: 1px solid #dee2e6;
  
      &:last-child {
        border-bottom: none;
      }
    }
  
    td {
      padding: 10px;
    }
  }
  
  .text-muted {
    font-size: 1.2rem;
    color: #6c757d;
  }
  
  .btn-danger{
    border: 2px solid #e86666;
    background: none;
    color: #e86666;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    color: #000;
    overflow: hidden;
  }
  
  .btn-danger:hover {
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }
  
  .btn-danger:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e86666;
    z-index: -1;
    border-radius: 50% 50% 0% 0%;
    height: 0%;
    transition: all 0.5s;
  }
  
  .btn-danger:hover:before {
    height: 190%;
  }
  
  .btn-danger:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 15px;
    }
  
    .user-header {
      font-size: 1rem;
    }
  
    .table td {
      font-size: 0.9rem;
    }
  }
  