form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(79, 225, 241, 0.627);
}

.mb-2, .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-label {
    width: 100%;
    text-align: left;
    font-size: 1rem;
    color: #4a4a4a;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
    border-color: #1ebcd0;
    outline: none;
    box-shadow: 0 0 5px rgba(16, 219, 242, 0.3);
}

.form-check {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    justify-content: flex-start;
}

.btn{
    border: 2px solid #ffc107;
    background: none;
    color: #ffc107;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    color: #000;
    overflow: hidden;
}

.btn:hover {
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.btn:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffc107;
    z-index: -1;
    border-radius: 50% 50% 0% 0%;
    height: 0%;
    transition: all 0.5s;
}

.btn:hover:before {
    height: 190%;
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
    form {
        width: 90%;
        padding: 1.5rem;
    }
}
