<div class="d-flex flex-row justify-content-between">
    <h1>Authors List</h1>
    <button type="button" class="btn btn-success h-50" data-bs-toggle="modal" [attr.data-bs-target]="'#createModal'">Crea <i class="bi bi-plus"></i></button>
</div>

<div *ngFor="let a of listAuthors; index as i">
    <app-authoe-single-card [authorData]="a"></app-authoe-single-card>
    <!--Modal-->
    <app-author-update-modal [authorData]="a"></app-author-update-modal>
    <!--Delete Modal-->
    <app-author-delete-modal [authorData]="a"></app-author-delete-modal>
</div>
<!--Create Modal-->
<app-author-create-modal></app-author-create-modal>
