i {
    cursor: pointer;
    pointer-events: auto;
}

.icon-minus:hover {
    color: red;
    cursor: pointer;
}

.icon-trash:hover {
    color: red;
    cursor: pointer;
}

.icon-plus:hover {
    color: green;
    cursor: pointer;
}