<!-- Card -->
<div class="col">
    <div class="card border-light h-100 shadow-sm">
        <img [src]="'/assets/games/'+correctImageName(game.name)+'/'+ correctImageName(game.name) +1+ mainSuffixImg" class="card-img-top" alt="...">
        <!-- Carousel al posto dell'immagine singola su queste card? -->

        <div class="card-body">
            <h5 class="card-title">{{game.name}}</h5>
            <p>From {{game.editorDTO.name}}</p>

            <a [routerLink]="['/shop']" class="btn btn-inspect align-items-center w-100">See in the shop</a>

        </div>
    </div>
</div>
