.list-group-item {
    border: none; /* Rimuovi i bordi degli elementi della lista */
}
.list-group-horizontal > .list-group-item {
  margin-right: 5px; /* Aggiungi un po' di spazio tra gli elementi */
}
//nasconde la barra di scorrimento della lista
// .list-group.list-group-horizontal.overflow-auto::-webkit-scrollbar {
//   display: none;
// }

/* Nascondi la barra di scorrimento anche su Firefox ---- SUGGERITO DALL'AI. idk*/
.list-group.list-group-horizontal.overflow-auto {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

pre {
    line-height: 1.175; /* standard è tipo 1.5 ...? */
    font-size: 0.8vw; /* Dimensione di base */
}

.carousel-item {
    position: relative; /* Necessario per il posizionamento assoluto corretto della caption */
  }
  
  .carousel-item .caption {
    opacity: 0; /* Inizialmente nascosto */
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; /* Utilizza flexbox per centrare il contenuto */
    flex-direction: column; /* Disponi gli elementi internamente in colonna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra orizzontalmente */
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
    padding: 10px;
    border-radius: 5px;
  }
  
  .carousel-item:hover .caption {
    opacity: 1; /* Mostra la caption sull'hover del carousel-item */
  }