
<button class="btn btn-primary m-2" (click)="openSidebar()" *ngIf="!isSidebarOpen">
    <i class="bi bi-list"></i>
</button>
<div class="d-flex">
    <nav *ngIf="isSidebarOpen" class="d-flex flex-column flex-shrink-0 p-3 bg-light shadow-lg"
        style="width: 250px; position: relative;">
        <div class="d-flex flex-row">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <span class="fs-4">Sidebar</span>
            </a>
            <button class="btn btn-danger btn-sm align-self-end" (click)="closeSidebar()">
                <i class="bi bi-x"></i>
            </button>
        </div>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a class="nav-link text-dark pe-auto" style="cursor: pointer;" [class.active]="activeContent === 'home'"
                    (click)="setActiveContent('home')" aria-current="page">
                    <i class="bi bi-house-door"></i> Home
                </a>
            </li>
            <li>
                <a class="nav-link text-dark pe-auto" style="cursor: pointer;" [class.active]="activeContent === 'games'"
                    (click)="setActiveContent('games')">
                    <i class="bi bi-dice-5-fill"></i> Games
                </a>
            </li>
            <li>
                <a class="nav-link text-dark pe-auto" style="cursor: pointer;" [class.active]="activeContent === 'categories'"
                    (click)="setActiveContent('categories')">
                    <i class="bi bi-clipboard-fill"></i> Categories
                </a>
            </li>
            <li>
                <a class="nav-link text-dark pe-auto" style="cursor: pointer;" [class.active]="activeContent === 'editors'"
                    (click)="setActiveContent('editors')">
                    <i class="bi bi-pencil-fill"></i> Editors
                </a>
            </li>
            <li>
                <a class="nav-link text-dark pe-auto" style="cursor: pointer;" [class.active]="activeContent === 'authors'"
                    (click)="setActiveContent('authors')">
                    <i class="bi bi-fingerprint"></i> Authors
                </a>
            </li>
            <li>
                <a class="nav-link text-dark pe-auto" style="cursor: pointer;" [class.active]="activeContent === 'orders'"
                    (click)="setActiveContent('orders')">
                    <i class="bi bi-table"></i> Orders
                </a>
            </li>
            <li>
                <a class="nav-link text-dark pe-auto" style="cursor: pointer;" [class.active]="activeContent === 'customers'"
                    (click)="setActiveContent('customers')">
                    <i class="bi bi-people"></i> Customers
                </a>
            </li>
        </ul>
        <!-- <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle"
                id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle me-2"></i>
                <strong>User</strong>
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser">
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div> -->
    </nav>
    <div class="content flex-grow-1 p-3">
        <div *ngIf="activeContent === 'home'">
            <app-home-admin-card></app-home-admin-card>
        </div>
        <div *ngIf="activeContent === 'games'">
            <app-games-card></app-games-card>
        </div>
        <div *ngIf="activeContent === 'categories'">
            <app-categories-card></app-categories-card>
        </div>
        <div *ngIf="activeContent === 'editors'">
            <app-editors-card></app-editors-card>
        </div>
        <div *ngIf="activeContent === 'authors'">
            <app-authors-card></app-authors-card>
        </div>
        <div *ngIf="activeContent === 'orders'">
            <app-orders-card></app-orders-card>
        </div>
        <div *ngIf="activeContent === 'customers'">
            <app-users-card></app-users-card>
        </div>
    </div>
</div>