<div class="modal fade" id="createModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Select your paycard</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3" *ngIf="listUser.length > 0">
                    <form #orderCreate="ngForm" (ngSubmit)="onSubmit(orderCreate)">

                        <select class="form-select" aria-label="Select Paycard" [(ngModel)]="orderCreate.value.payCardId" name="payCardId" ngModel required>
                        <option selected>Select Paycard</option>
                        <option *ngFor="let payCard of listUser" [value]="payCard.id">{{payCard.cardNumber}}</option>
                        </select>

                        <div class="modal-footer">
                            <button data-bs-dismiss="modal" class="add btn btn-primary z-1" data-bs-dismiss="modal" routerLink="/account/formcard" >Add new card</button>
                            <button type="submit" data-bs-dismiss="modal" class="submit-details btn btn-success" data-bs-dismiss="modal" [disabled]="!orderCreate.valid">Confirm</button>
                        </div>

                    </form>
                </div>
                <div *ngIf="listUser.length <= 0">
                    <p>You must register a payment card</p>
                    <button data-bs-dismiss="modal" class="add btn btn-primary w-100 z-1" data-bs-dismiss="modal" routerLink="/account/formcard" >Add new card</button>
                </div>
            </div>
        </div>
    </div>
</div>
